<h1>Show all questions</h1>
<p>This is a learning to code project</p>

<div id="question_list">

<h1>List of questions</h2>

<% @questions.each do |question| %>
  <p>Question: <%= question.content %></p>
    <p>Answer: <%= question.answer %></p>

    <span><%= link_to 'Show', question %></span>
    <span><%= link_to 'Edit', edit_question_path(question) %></span>
    <span><%= link_to 'Destroy', question, confirm: 'Are you sure?', method: :delete %></span>
  
<% end %>
</div>

<br />

<%= link_to 'New Question', new_question_path %>



