<!DOCTYPE html>
<html>
<head>
  <title>Personal Question and Answer Recorder</title>
  <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  <meta name="csrf-param" content="authenticity_token" />
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag 'rails' %> 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %> 
  <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cutive' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  
  
</head>
<body>

<%= yield %>

</body>
</html>
